/*General */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
}

/* Contenedor principal */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Sección izquierda */
.left-section {
  width: 45%;
  background-color: #BEE5BF;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;*/
  position: relative;
}

/* Círculo verde grande */
.circle-bg {
  width: 420px;
  height: 420px;
  background-color: #eef1ee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.circle-bg img {
  width: 95%;
  height: auto;
  align-items: center;
}

/* Sección derecha */
.right-section {
  width: 55%;
  height: 100%;
  background-image: url('../images/fondo-colores.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja del formulario */
.login-box {
  background-color: rgba(58, 23, 55, 0.7);
  padding: 40px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  color: #e6e6e6;
}

.icon-user {
  font-size: 70px;
  color: #ffffff;
  margin-bottom: 25px;
}

/* Inputs */
.form-label {
  color: #e6e6e6;
  font-size: 14px;
}

.form-control {
  background-color: transparent;
  border: 1px solid #C3E5C1;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  padding: 8px 10px;
}

.form-control:focus {
  background-color: rgba(255,255,255,0.1);
  border-color: #C3E5C1;
  outline: none;
  box-shadow: none;
}

/* Botón */
.btn-login {
  background-color: #3A1737;
  color: #fff;
  border: none;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  padding: 8px 0;
  transition: background 0.3s ease;
}

/* Botón Google */
.btn-google {
  background-color: #457c47;
  color: #fff;
  border: none;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  padding: 8px 0;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background-color: #531d56;
}

/* Enlace */
.forgot-link {
  font-size: 13px;
  color: #C3E5C1;
  text-decoration: underline;
}

.forgot-link:hover {
  color: #fff;
}